@import "iosevka-etoile.scss";
@import "iosevka.scss";

$navbar_height: 40px;

$navbar_light: #f3f3f3;
$navbar_dark: rgb(31, 33, 35);

$background_light: #f8f8f8;
$background_dark: rgb(28, 30, 31);

$article_light: #ffffff;
$article_dark: rgb(24, 26, 27);

$date_light: #9b9b9b;
$date_dark: rgb(169, 161, 150);

$code_light: #e2e2e2;
$code_dark: rgb(40, 44, 45);

@mixin light_vars {
    --navbar: #{$navbar_light};
    --bg: #{$background_light};
    --article: #{$article_light};
    --date: #{$date_light};
    --code: #{$code_light};
    --text: black;
}

@mixin dark_vars {
    --navbar:#{$navbar_dark};
    --bg: #{$background_dark};
    --article: #{$article_dark};
    --date: #{$date_dark};
    --code: #{$code_dark};
    --text: white;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbar);
    height: $navbar_height;
    color: var(--text);

    > li {
        &.left { float: left; }
        &.right { float: right; }

        > a {
            display: block;
            padding: 8px;
            text-decoration: none;
        }
    }
}

body {
    margin: 0;
    font-family: 'Iosevka Web', monospace;
}

.background { background-color: var(--bg); }

$article_margin_top: 20px;

article {
    background-color: var(--article);
    color: var(--text);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 75vw;
    margin-top: $article_margin_top;
    margin-bottom: 0;
    padding: 20px 40px;
    font-family: 'Iosevka Etoile Web';
    line-height: 1.75em;
}

h1.title {
    padding-top: 0;
}

.blogtitle {
    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
}

.date {
    color: var(--date);
    float: right;
    font-style: italic;
}

code {
    font-family: 'Iosevka Web', monospace;
}

p, li, td {
    > code {
        border-radius: 4px;
        background-color: var(--code);
        padding: 0.3em;
        font-size: 0.9em;
    }   
}

pre {
    padding: 10px;
    border-radius: 3px;
}

:root {
    @include light_vars;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        @include dark_vars;
    }
}
  
#color-mode:checked ~ * {
    @include dark_vars;
}

@media (prefers-color-scheme: dark) {
    #color-mode:checked ~ * {
        @include light_vars;
    }
}
  
.color-scheme-wrapper {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
}
  
.light-mode-hide {
    display: none;
}
  
@media (prefers-color-scheme: dark) {
    .dark-mode-hide {
        display: none;
    }
    .light-mode-hide {
        display: initial;
    }
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}

#color-mode {
    position: absolute;
    opacity: 0.00001;

    + #color-mode-label:before { content: "Enable "; }
    &:checked + #color-mode-label:before {
        content: "Disable ";
    }
}

#color-mode-label {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: underline;
    color: rgb(86, 86, 252);
    cursor: pointer;
}
