@import "aside.scss";
@import "iosevka.scss";
@import "ibmplexsans.scss";
@import url("one-dark.css");

article .post {
    width: 50vw;
}

body {
    font-family: 'IBM Plex Sans', 'Fira Code', Menlo, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
}

body, code, pre, .footer .copyrigt {
    font-size: 1.2rem;
}

blockquote p::before {
    content: "ⓘ";
    font-weight: 700;
    font-size: 1.5em;
    position: absolute;
    left: -1.5em;
}

blockquote p {
    margin-left: 1em;
}

code {
    font-family: 'Iosevka';
    color: var(--color);
}

pre code {
    color: #c0c5ce;
}

// don't wrap inline code comments (treat them as whole wordbs)
:not(pre) > code {
    white-space: nowrap;
}

// suppress glaring highlight of "invalid" syntax
.z-invalid.z-illegal {
    background-color: unset;
    color: inherit;
}

.post-title a {
    color: var(--accent);
}

.post-meta a {
    color: var(--color);
}

a {
    color: var(--link-color);
}

:root {
    --accent: rgb(155,89,208);
    --accent-alpha-20: rgba(155,89,208,.2);
    --accent-alpha-70: --color;
    --background: rgb(45,45,45);
    --color: rgb(255, 248, 231);
    --border-color: rgba(255, 248, 231, .1);
    --footnote-color: rgba(255, 248, 231, .5);
    --link-color: #FFF433;
}
  