<link rel="stylesheet" href={{ get_url(path="common.css") }}>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script>
    document.addEventListener('DOMContentLoaded', event => {
        let article = document.getElementById('article');

        if (article) {
            let theme = "dark";
            
            let discuz = document.createElement('script');
            discuz.setAttribute('src', 'https://giscus.app/client.js');
            discuz.setAttribute('data-repo', 'fee1-dead/fee1-dead.github.io');
            discuz.setAttribute('data-repo-id', 'R_kgDOGaewSg');
            discuz.setAttribute('data-category', 'Discussion');
            discuz.setAttribute('data-category-id', 'DIC_kwDOGaewSs4CQRXB');
            discuz.setAttribute('data-mapping', 'title');
            discuz.setAttribute('data-reactions-enabled', '1');
            discuz.setAttribute('data-emit-metadata', '0');
            discuz.setAttribute('data-input-position', 'top');
            discuz.setAttribute('data-theme', theme);
            discuz.setAttribute('data-lang', 'en');
            discuz.setAttribute('data-loading', 'lazy');
            discuz.setAttribute('crossorigin', 'anonymous');
            discuz.setAttribute('async', '');
            article.appendChild(discuz);
        }
    });


</script>